body{
    color: #3A404E;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.cabecalho__logo
{
    display: flex;
    align-items: center;
}

.cabecalho
{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    align-items: center;

}

.cabecalho__lista
{
    display: flex;
    list-style:none;
    margin-right: 10%;
}


.cabecalho__nome-logo
{
    color: #3A404E;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding-left: 10px;

    
}

.itens__lista-cabecalho
{
    color:#667085;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 0 14px;
}

.cabecalho__botao-entrar
{
    color:#667085;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.cabecalho__botoes
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cabecalho__botao-cadastro
{
    background-color: #8E2424;
    border: 1px solid #8E2424;
    border-radius: 5px;
    padding: 0.5em;
    color:#FFF;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    text-decoration: none;
    margin:0 1em;
}

.sobrenos
{
    margin-top: 5%;
}
.sobrenos
{
    color: #8E2424;
    text-align: center;
    width: 100%;
    height: 300px; 
   
}

.talentos
{
    color: #8E2424;
    text-align: center;
    width: 100%;
   
}


.sobrenos__texto,.talentos__vagas
{
    margin-top: 5%;
    margin-bottom: 2%
}

.sobrenos__titulo
{
    color: black;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 2%
}

.talentos__procura
{
    color: black;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 2%
}

.sobrenos__texto2,.talentos__remota
{
    font-weight: 400;
    font-size: 20px;
    color: #667085;
    width: 800px;
    margin:auto;
    
}

.dados{
    margin-top: -1%;
}
.dados__titulo-itenlista
{
    color: #8E2424;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
}

.dados_lista
{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

.dados__lista--itens{
    max-width: 280px;
    margin: 2%;
}

.talentos__imagem
{
    width: 82%;
    margin-top: 5%;
}

.design
{
    display: block;
    margin-left: 25%;
}

.descricoes__item-listadesign
{
    color:#667085;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: flex;
}

.desc1__item-listadesign{
    padding-right: 1.5%;
}

.design
{
    padding: 5.5% 0;
}

.design__lista-item
{
    padding: 4% 0 4% 2%;
    color: #101828;
}

.titulo__item-listadesign
{
    padding-bottom: 2%;
}

.colaboradores-importante
{
width: 80%;
margin: auto;
}

.fotinha
{
    width: 56px;
    height: 56px;
    border-radius: 200px;
}

.colaboradores__nome
{
    color:#101828;
    margin-top: 1.5%;
}

.colaboradores__prof
{
    color: #667085;
    margin-top: 1%;
}

.oportunidades
{
    margin-top: 10%;
}

.oportunidades-acompanhe
{
    font-size: 36px;
}

.oportunidades-primeiro
{
    font-size: 20px;
}

.enviar-email{
    justify-content: space-between;
    width: 450px;
    margin: auto;
    margin-top: -9%;
    padding: 0.8em;
}

.enviar-seuemail
{
    flex-grow: 1;
    padding: 0.8em;
    border: 1px solid #8E2424;
    border-radius: 5px;
}

.enviar-cadastro{
    background-color: #8E2424;
    border: 1px solid #8E2424;
    border-radius: 5px;
    padding: 0.8em;
    color:#FFF;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    text-decoration: none;
    margin:0 1em;
}

.rodape
{
    font-weight: 400;
    font-size: 16px;
    padding-top: 1%;
    color: #98A2B3;
    text-align: center;
}